body{
  margin-top: 10%;
  background-color: rgb(240, 240, 240);
  font-family: Helvetica, Sans-Serif;
}
.btnClass {
    margin-top: 15px;
  }
  .container {
    margin: auto;
    height: 314.75px;
    width: 396px;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(131, 58, 224);
    border-radius: 10px;
  }
  .container > h1 {
    color: yellow;
  }
  .container label {
    color: white;
  }
.btnClass{
    height: 48px;
    width: 364px;
    background-color: rgb(204, 204, 49);
    border: 0px solid yellow;
    border-radius: 10px;
  }
  input{
    width: 364px;
    height: 52px;
    border-radius: 10px;
    border: none;
  }
  button>p{
    margin: auto;
    font-size: large;
  }
  textarea:focus, input:focus{
    outline: none;
}
input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
}
button:hover{
  background-color: yellow;
  cursor: pointer;
}
a:hover{
 cursor:pointer;
}
.myHide{
  margin-top: -40px;
  margin-right: -280px;
}

 